{% extends 'admin/master.html' %}


{% block body %}
<style>
    .hover-zoom {
        transition: 1s all ease;
    }
    .hover-zoom:hover {
        transform: scale(1.1);
        transition: 1s all ease;
    }

</style>

<div class="container" style="margin-top: 5em;">
    <div class="row">
        <div class="col-lg-12 mx-auto rounded shadow" style="display: flex;justify-content: space-evenly;">

            <div style="padding: 0px;" class="panel panel-primary col-lg-2 col-md-5 hover-zoom">
                <div class="panel-heading">
                    <h3 class="panel-title">O'qituvchilar</h3>
                </div>
                <div class="panel-body">
                    <h1 id="teach">100</h1>
                </div>
            </div>
            <div style="padding: 0px;" class="panel  panel-primary col-lg-2 col-md-5 hover-zoom">
                <div class="panel-heading">
                    <h3 class="panel-title">O'quvchilar</h3>
                </div>
                <div class="panel-body">
                    <h1 id="pup">100</h1>
                </div>
            </div>
            <div style="padding: 0px;" class="panel panel-primary col-lg-2 col-md-5 hover-zoom">
                <div class="panel-heading">
                    <h3 class="panel-title">Darslar</h3>
                </div>
                <div class="panel-body">
                    <h1 id="les">100</h1>
                </div>
            </div>
            <div style="padding: 0px;" class="panel panel-primary col-lg-2 col-md-5 hover-zoom">
                <div class="panel-heading">
                    <h3 class="panel-title">Bugungi darslar</h3>
                </div>
                <div class="panel-body">
                    <h1 id="lestod">100</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function animateValue(id, start, end, duration) {
    if (start === end) return;
    var range = end - start;
    var current = start;
    var increment = end > start? 1 : -1;
    var stepTime = Math.abs(Math.floor(duration / range));
    var obj = document.getElementById(id);
    var timer = setInterval(function() {
        current += increment;
        obj.innerHTML = current;
        if (current == end) {
            clearInterval(timer);
        }
    }, stepTime);
}

animateValue("teach", 0, 155, 1000);
animateValue("pup", 0, 54, 1000);
animateValue("les", 0, 213, 1000);
animateValue("lestod", 45, 25, 1000);


</script>
{% endblock %}