{% extends 'main/base.html' %} {% block title %}Education System{% endblock %}
{% block body %}
<div class="header">
    <h1>Education System</h1>
    <div class="header__nav">
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.index') }}" class="header__nav-button">Login</a>
        {% else %}
        <a href="#">Hello, {{current_user.name}}</a>
        {% if session['login_type'] == 'student' %}
        <a href="{{ url_for('class.index') }}" class="header__nav-button">MY CLASSROOM</a>
        {% elif session['login_type'] == 'teacher' %}
        <a href="{{ url_for('class.index') }}" class="header__nav-button">TEACHER ROOM</a>
        {% endif %}
        <a href="{{ url_for('auth.logout') }}" class="header__nav-button">Log Out</a>
        {% endif %}
    </div>
</div>
<div class="profile">
    <img src="{{ url_for('static', filename='main/profile.png') }}" alt="{{ data['name'] }}">
    <h1>Welcome to {{ data['name'] }}'s profile!</h1>
    <div class="info">
        <h3><span class="info-name">Name:</span>{{ data['name'] }}</h3>
        <h3><span class="info-name">Username:</span>{{ data['username'] }}</h3>
        <h3><span class="info-name">Joined at:</span>{{ data['reg_date'] }}</h3>
        <h3><span class="info-name">Last activity in site:</span>{{ data['last'] }}</h3>
    </div>
</div>
{% endblock %}